

<div class="sticky-top float-end fs-5 mb-5">
    <a class="position-fixed" id="navigate_back" href="/profiles">Back</a>
</div>
<div>
    <div>
        <h1 class="text-center">Edit Profile</h1>
    </div>

    <div class="row g-3 needs-validation w-100 d-flex justify-content-center align-items-center">
        <!-- Personal information -->
         <fieldset class="data-fieldset p-3">
            <legend>Personal Information</legend>
            <div class="ms-2 ms-sm-5">
                <label class="fw-semibold" for="name">Full name</label>
                <input value="<%= profile['PersonalInfo'][0]['Name'] && profile['PersonalInfo'][0]['Name'] %>" class="form-control w-100" type="text" name="Full name" id="fullName" required>

                <label class="fw-semibold" for="title">Title</label>
                <input  value="<%= profile['PersonalInfo'][0]['Title'] && profile['PersonalInfo'][0]['Title'] %>" class="form-control w-100" type="text" name="Title" id="title" required>

                <label class="fw-semibold" for="address">Address</label>
                <input value="<%= profile['PersonalInfo'][0]['Address'] %>" class="form-control w-100" type="text" name="Address" id="address" required>
                
            </div>
         </fieldset>

        <!--  Education -->
        <fieldset class="data-fieldset p-3">
            <legend>Education</legend>
            <!-- Eductaion list -->
            <div id="education-container" class="education-container ms-2 ms-sm-5 mt-5 d-flex flex-wrap flex-column gap-2">
                <%profile['Education'] && profile['Education'].map((entry, index) => { %>
                    <div class="education-group d-flex gap-4 flex-wrap">
                        <label class="fw-semibold" for="institution">Name of Institution</label>
                        <input value="<%= entry['Name'] %>" class="institution w-100 form-control" type="text" name="Institution name" id="institution" required>
                        <label class="fw-semibold" for="started">Started</label>
                        <input value="<%= entry['Started'] %>" class="edu_started w-25  form-control" type="text" name="Institution started date" id="edu_started" required>
                        <label class="fw-semibold" for="finish">Finish</label>
                        <input value="<%= entry['Finish'] %>" class="edu_finish w-25 form-control" type="text" name="Institution finish date" id="edu_finish" required>
                        <button class="m-2 btn btn-danger" onclick="removeFieldGroup(this)">Remove</button>    
                    </div>
                <% }) %>
            </div>
            <div class="w-100 d-flex justify-content-center">
                <button class="m-3 w-25 text-center btn btn-success" onclick="addEducationFieldGroup()">Add</button>
            </div>
        </fieldset>

        <!-- Experience -->
        <fieldset class="data-fieldset p-3">
            <legend>Experience</legend>
            <div id="experience-container" class="experience-container ms-2 ms-sm-5">
                <% profile['Experience'] && profile['Experience'].map((entry, index) => { %>
                    <div class="experience-group">
                        <label for="role_title">Role Title</label>
                        <input value="<%= entry['Title'] %>" class="role_title form-control w-100" type="text" name="Role title" id="role_title" required>
                        
                        <label for="role_description">Role  Description</label>
                        <textarea class="role_description form-control w-100 h-auto" cols="30" rows="5" type="text" name="roleDescription" id="role_description" required><%= entry['Description'] %></textarea>
                        <div class="d-flex gap-3 flex-wrap">
                            <label class="fw-semibold" for="started">Started</label>
                            <input  value="<%= entry['Started'] %>" class="role_started form-control" type="text" name="Started Role date" id="role_started" required>

                            <label class="fw-semibold" for="finish">Finish</label>
                            <input  value="<%= entry['Finish:'] %>" class="role_finish form-control" type="text" name="Finish role date" id="role_finish" required>
                        </div>
                        <button class="btn btn-danger" onclick="removeFieldGroup(this)">Remove</button>
                    </div> 
                <% }) %>
            </div> 
            <div class="w-100 d-flex justify-content-center">
                <button class="m-3 w-25 text-center btn btn-success" onclick="addExperienceFieldGroup()">Add</button>
            </div>  
         </fieldset>

        <!--  Summary-->
        <fieldset class="data-fieldset p-3">
            <legend>Summary</legend>
            <label for="summary">About me</label>

            <div class="ms-2 ms-sm-5">
                <textarea  class="form-text form-control-lg w-100 h-auto" name="Summary" id="summary" cols="30" rows="5"><%= profile['Summary'][0]['Content'] && profile['Summary'][0]['Content'] %></textarea>
                <div class="text-center m-3">
                    <button class="btn btn-success fs-6">Generate summary</button>
                </div>
            </div>
        </fieldset>

        <!-- Contact -->
        <fieldset class="data-fieldset p-3">
            <legend>Contact</legend>
            <div class="ms-2 ms-sm-5 d-flex gap-2 flex-wrap">
                <label for="phoneNumber">Phone Number</label>
                <input value="<%= profile['Contact'][0]['PhoneNumber'] && profile['Contact'][0]['PhoneNumber'] %>" class="form-control w-100" type="tel" name="Phone number" id="phoneNumber">

                <label for="github">GitHub link</label>
                <input value="<%= profile['Contact'][0]['Github'] && profile['Contact'][0]['Github'] %>" class="form-control w-100" type="url" name="Github link" id="github">

                <label for="linkedin">LinkedIn link</label>
                <input value="<%= profile['Contact'][0]['LinkedIn']  && profile['Contact'][0]['LinkedIn'] %>" class="form-control w-100" type="url" name="LinkedIn link" id="linkedin">

                <label for="x">X link</label>
                <input value="<%= profile['Contact'][0]['X'] && profile['Contact'][0]['X'] %>" class="form-control w-100"type="url" name="X Link" id="x">
            </div>
        </fieldset>


        <!-- Programming Languages -->
        <fieldset class="data-fieldset p-3">
            <legend>Languages/Frameworks</legend>
            <div id="framework-container" class="framework-container ms-2 ms-sm-5 d-flex flex-wrap gap-2">
                <%  profile['Framework'].map((entry, index) => { %>
                    <div class="framework-group d-flex gap-3">
                        <input value="<%= entry['Framework'] && entry['Framework'] %>" class="framework form-control w-75 m-1" placeholder="example: Node js, Python, Ruby .." type="text" name="Framework/Languages" id="framework">
                        <button class="btn btn-danger" onclick="removeFieldGroup(this)">Remove</button>
                    </div>
                <% }) %>
            </div>
            <div class="w-100 d-flex justify-content-center">
                <button class="m-3 w-25 text-center btn btn-success" onclick="addFrameworkFieldGroup()">Add</button>
            </div> 
        </fieldset>

        <!-- Skills -->
        <fieldset class="data-fieldset p-3">
            <legend>Skills</legend>
            <div id="skills-container" class="skills-container ms-2 ms-sm-5 d-flex flex-row flex-wrap gap-2">
                <% profile['Skill'] && profile['Skill'].map((entry, index) => { %>
                    <div class="skill-group w-25 d-flex flex-nowrap">
                        <input value="<%= entry['Skills'] %>" class="skills form-control m-1" placeholder="example: Time emanagement | Critical thinking .." type="text" name="Skills" id="skills">
                        <button class="btn btn-danger w-auto" onclick="removeFieldGroup(this)">Remove</button>
                    </div>
                <% }) %>
            </div>
            <div class="w-100 d-flex justify-content-center">
                <button class="m-3 w-25 text-center btn btn-success" onclick="addSkillFieldGroup()">Add</button>
            </div>
        </fieldset>

        <!-- Projects -->
        <fieldset class="data-fieldset p-3">
            <legend>Projects</legend>
            <div id="projects-container" class="projects-container ms-2 ms-sm-5 d-flex flex-column gap-2">
                <% profile['Project'].map((entry, index) => { %>
                    <div class="project-group">
                        <label for="project_title">Project Title</label>
                        <input value="<%= entry['Title'] && entry['Title'] %>" class="project_title form-control w-75 m-1" type="text" name="Project title" id="project_title">
        
                        <label for="project_summary">Project summary</label>
                        <textarea class="project_summary form-control w-100 m-1 h-auto" rows="5" type="text" name="Project summary" id="project_summary"><%= entry['Summary'] && entry['Summary'] %></textarea>
                        
                        <label for="project_technologies">Technologies</label>
                        <input value="<%= entry['Technologies'] && entry['Technologies'] %>" class="project_technologies form-control w-100 m-1 h-auto" placeholder="example: Node js, React, OpenAI" rows="5" type="text" name="Project technologies" id="project_technologies">
                        
                        <label for="project_github_link">Github link</label>
                        <input value="<%= entry['GitHub'] && entry['GitHub'] %>" class="project_github_link form-control w-100 m-1 h-auto" rows="5" type="url" name="Project github link" id="project_github_link">
                        
                        <label for="project_live_link">Live link</label>
                        <input value="<%= entry['Demo'] && entry['Demo'] %>" class="project_live_link form-control w-100 m-1 h-auto" rows="5" type="text" name="Project live link" id="project_live_link">
                        <button class="btn btn-danger m-3" onclick="removeFieldGroup(this)">Remove</button>
                    </div>
                <% }) %>
            </div>
            <div class="w-100 d-flex justify-content-center">
                <button class="m-3 w-25 text-center btn btn-success" onclick="addProjectFieldGroup()">Add</button>
            </div>
        </fieldset>

        <span class="text-danger m-3 text-center" id="error"></span>
        <div class="col-12 text-center">
            <button class="btn btn-outline-success" type="button"  onclick="updateProfile()">Save Profile</button>
        </div>
    </div>
</div>

<script src="/javascripts/edit_profile.js"></script>


<style scoped>
    .data-fieldset {
        border-style: solid;
        border-radius: 10px;
        border-width: 1px;
        width: 80%;

        @media (max-width: 767px) {
            width: 80%;
        }

        @media (max-width: 320px) {
            width: 300px;
        }
    }
</style>