<!DOCTYPE html>
<html>

  <body>
    <%- include('../partials/nav.ejs') %>
    <div class="content">
      
      <%- include('../partials/sidemenu.ejs') %>

      <div class="dashboard-content">
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
        <h1>Dashboard Page</h1>
        <p>Hi <%= username %></p>
      </div>
    </div>
  </body>
  <style>
    body {
      width: 100vw;
      height: 100vh;
      margin: 0px;
      padding: 0px;
    }
    .dashboard-nav {
      width: 100vw;
      height: 10vh;
      background-color: rgb(39, 118, 236);
    }
    .brand {

    }
    .user-profile {

    }
    .profile-img {

    }

    .content {
      display: flex;
      width: 100vw;
    }
    .aside-nav {
      width: 5%;
      background-color: rgb(39, 118, 236);
      height: 90vh;
      @media (max-width: 768px) {
        visibility: hidden;
      }
    }

    .dashboard-content {
      width: 70%;
      @media (max-width: 768px) {
        visibility: hidden;
        width:100%;
      }
    }
  </style>
</html>
